@media screen and (max-width: 667px) {
    .ts-header .justify-content-end .nav li{
        display: block;
        width: 100%;
    }
    .media{
        background-color:#0b322b ;
       padding:20px 0px 50px 0px;
       font-size:20px;
       text-align: center;
      }
      .btn-div{
          padding-left:200px;
      }
.main-div{
    padding-left:0;
}
.ts-about #img-about{
    margin-bottom:-450px; 
    margin-right: 4000px;
    margin-left:0;
}
.view{
    margin-left: 130px;
}
.ts-pa #col-patwo{
  margin-left:30px;
}
.ts-pa #col-pa{
  margin-left: 0;
}
  }



  /* @media (max-width: 1024px) {
    /* about section */
  /* }
  
  @media (max-width: 991px) { */
    /* custom classes       */
    /* navbar brand                 */
    /* Banner Design     */
    /* carousel design       */
  /* }
  
  @media (max-width: 767px) { */
    /* custom css     */
    /* top banner           */
    /* story section      */
    /* carousel section */
    /* newsletter section */
    /* footer link */
   /* }
  @media (max-width: 330px) {
    /* carousel design */
  /* } 