/*Common CSS*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  list-style-type: none;
}

.clearfix {
  clear: both;
}

/*Header style*/

.ts-header a .fs-4 {
  color: red;
  background-color: #e9e6df;
}
.ts-header .navbar{
  background-color:#E9E6DF !important;
}
/*Profile style*/

.ts-profile {
  position: relative;
  background-color: #0b322b;
  padding: 40px 0;
  margin-top: 150px;
}

.ts-profile img {
  margin-top: -150px;
}

.ts-profile .desc h2 {
  font-size: 75px;
  color: #be6d54;
}

/*Footer Style*/

.footer-top {
  background-color: #e9e6df;
}

.footer-bottom {
  background-color: #0b322b;
  text-align: center;
  color: #fff;
  padding: 30px;
}

.media {
  background-color: #0b322b;
  padding: 50px 100px 50px 200px;
  font-size: 60px;
}
.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.btn-div {
  padding-left: 780px;
}
#card-image {
  width: 100%;
  height: 250px;
}
/* #img-about{
  margin-bottom: -450px;
   margin-left: 150px;
} */
.view {
  margin-left: 450px;
  font-size: 15px;
  padding-right: 750px;
  margin-top: 50px;
  font-weight: bold;
  color: #225555;
  text-decoration: none;
}
.ts-pa {
  background-color: white;
  margin: 250px 200px 100px 200px;
}
.ts-pa #col-patwo {
  margin-left: 160px;
  margin-top: 30px;
}
.rowI .column-1:first-child {
  padding-left: 0;
}
.rowI .column-2:last-child {
  padding-right: 0;
}

